@* /Pages/Shared/_ProgressBar.cshtml *@
<div class="progress mt-3 d-none" id="progress-container">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
         role="progressbar" style="width: 100%">
        Processando...
    </div>
</div>